<div class="message-container" 
    data-controller="time" 
    data-time-created-at-value="<%= message.created_at.to_i %>">
    <% if !@red_line_shown && @last_read_at && message.created_at > @last_read_at && current_user.id != message.user_id %>
    <% @red_line_shown = true %>
        <div id="last-read-line" class="border-bottom border-danger"></div>
    <% end %>
    <div>
        <p class="fw-bold m-0">
            <%= message.user.name %> 
            <span class="fw-light" data-time-target="time"></span>
        </p>    
    </div>
    <div><%= message.body %></div>
</div>